*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


ul[class],
ol[class] {
  list-style: none;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}


article > * + * {
  margin-top: 1em;
}


input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body { 
  background-image: url(../img/Group\ 37412.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  opacity: 0.8;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  flex: 0 0 100px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__menu {

}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: black;
  font-family: "Rubik";
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width:767px) {

  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before {
    top: 9px;
    transform: rotate(45deg);
  }
  .header__burger.active:after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: gray;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 25px;
  }
}

.content__main {
  padding: 100px 0px 0px 0px;
}

.first_text {
  font-size: 68px;
  font-family: "Rubik";
  text-align: center;
}

.second_text {
  font-size: 24px;
  font-family: "Rubik";
  text-align: center;
}

@media(max-width:767px) {
  .content__main {
    padding: 100px 0px 0px 0px;
  }
  .first_text {
    font-size: 25px;
    font-weight: bold;
  }
  .second_text {
    font-size: 15px;
    padding: 40px 0px 0px 0px;
  }
}

.button__google {
  position: relative;
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.button-24 {
  background: #F35D5D;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 70px;
  text-align: left;

}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.button-24 p {
  font-weight: 100;
  font-size: 12px;
}

.button__google img {
  width: 50px;
  height: 50px;
  margin: -40px 0px 0px -60px;
}

.button__google span {
  font-size: 26px;
}

.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;

}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
}
.slider .slick-arrow.slick-next{
	right: 0;

}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #292D32;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid black;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

.form {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  color: black;
  padding: 30px 0px;
}

button a {
  text-decoration: none;
  color: white;
}

.form {
  outline: none;
}
.form__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  width: 100%;
}

.form__input__second {
  height: 50px;
  padding: 0px 20px;
  width: 100%;
}

.form__input__third {
  height: 150px;
  padding: 0px 20px;
  width: 100%;
}

.form__input._error {
  box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
  width: 100%;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #FF4742;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.footer {
 
}

.content__footer {
  margin: 0px 0px 0px 150px;
}

.content__footer img {
  display: inline-block;
  padding: 10px;
}

.current__time {
  position: relative;
  margin: -23px 0px 0px 160px;
  
}

.footer__time {
  width: 20px;
  height: 20px;
  position: relative;
}

.footer__text p {
  margin: 0px 0px 0px 210px;
  font-size: 15px;
  position: relative;
}

.footer__text img {
  margin: -20px 0px 0px 120px;
  width: 20px;
  height: 20px;
  position: relative;
}

.popup { 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  text-decoration: none;
}
